<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site da Kitsune</title>

    <link rel="stylesheet" type="text/css" href="{% static 'lib/sb-admin-2/css/styles.css' %}">

    <script src="{% static 'lib/fontawesome-free-6.2.1-web/js/all.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'lib/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/sb-admin-2/js/scripts.js' %}"></script>
    /static/lib/DataTables/DataTables-1.13.1/jquery-3.6.1.min.js
    <!--    DATATABLE     -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/DataTables/datatables.min.css' %}">
    <script src="{% static 'lib/DataTables/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/datatables.min.js' %}"></script>
    <!--/    DATATABLE     -->
    
    {% block injectCSS %}{% endblock injectCSS %}
    {% block injectJS %}{% endblock injectJS %}
</head>


    {% block base %}


    {% endblock base %}


</html>