{% extends 'base/base_login.html' %}

{% load static %}
{% load widget_tweaks %}

{% block classBody %} bg-dark {% endblock classBody %}

{% block baseLoginTitle %}
Resetar senha
{% endblock baseLoginTitle %}

{% block baseLoginBody %}
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <div>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-group mt-3">
        <label for="id_email">E-Mail</label>
        {{ form.email|add_class:"form-control" }}
        <small class="mt-1 text-danger">{{ form.email.errors }}</small>
    </div>
    <div class="d-grid gap-2 col-12 mx-auto mt-3">
        <button type="submit" class="btn btn-success">Resetar senha</button>
    </div>
</form>
{% endblock baseLoginBody %}


{% block baseLoginFooter %}
<div class="col">
    <a href="{% url 'login' %}">Voltar</a>
</div>
{% endblock baseLoginFooter %}