{% extends 'base/base_interno.html' %}
{% load static %}
{% load widget_tweaks %}


{% block baseInterno %}
<div class="row mt-5">
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-2">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">Senha antiga:</label>
                {{ form.old_password|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="id_new_password1">Nova senha:</label>
                {{ form.new_password1|add_class:"form-control" }}
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirmar nova senha:</label>
                {{ form.new_password2|add_class:"form-control" }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        </form>
    </div>
</div>
{% endblock baseInterno %}